<!-- <md-toolbar _ngcontent-svw-1="" color="primary" class="md2 md-toolbar md-primary"><div class="md-toolbar-layout">
  <md-toolbar-row>

    <button _ngcontent-svw-1="" class="app-icon-button">
      <i _ngcontent-svw-1="" class="material-icons app-toolbar-menu">menu</i>
    </button>

    Angular Material2 Example App

    <span _ngcontent-svw-1="" class="app-toolbar-filler"></span>
    <button md-button=""><span class="md-button-wrapper">TOGGLE DARK THEME</span>
<div class="md-button-ripple" md-ripple="" md-ripple-background-color="rgba(0, 0, 0, 0)"><div class="md-ripple-background"></div></div>
</button>

  </md-toolbar-row>

</div></md-toolbar> -->
<ng-progress></ng-progress>
<md-toolbar color="primary">
    <span>MeanApp</span>
    <span class="spacer"></span>
    <button routerLink="" md-button>Home</button>
    <button routerLink="login" md-button>Login</button>
    <button routerLink="signup" md-button>Sign up</button>
    <button routerLink="logout" md-button>Logout</button>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
</md-toolbar>
