<div md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
  <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center">
    <md-card class="card-40-center">
      <form  method="post" class="login_form" (ngSubmit)="loginUser()">
        <div class="md-padding" layout-align="center">
          <div layout="row">
            <md-input-container flex="100">
              <input mdInput type="email" placeholder="Email" name="email" [(ngModel)]="model.email">
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex="100">
              <input mdInput type="password" placeholder="Password" name="password" [(ngModel)]="model.password">
            </md-input-container>
          </div>
        </div>
        <md-card-actions layout="row" layout-align="center">
          <br>
          <button md-raised-button type="submit">Log in</button>
        </md-card-actions>
      </form>
    </md-card>
  </div>
</div>
